<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Status</th>
      <th>Project</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.body %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.project.name %></td>
        <td><%= list_tags ticket %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
