<h1>Tickets</h1>

<%= form_with method: 'get', local: true do %>
  Show tickets from
  <%= project_filter_select %> <%# See TicketsHelper#project_filter_select %>
  with status
  <%= status_filter_select %> <%# See TicketsHelper#status_filter_select %>
  tagged
  <%= tag_filter_select %> <%# See TicketsHelper#tag_filter_select %>
  <input type="submit" value="Filter">
  <%= link_to 'Clear filters', tickets_path %>
<% end %>
<br>

<% if @tickets.size.zero? %>
  <em>
    There are no tickets matching the selected filters.
    <%= link_to 'Clear filters', tickets_path %>
  </em>
<% else %>
  <%= render 'tickets' %>
<% end %>

<br>
<%= link_to('New Ticket', new_ticket_path) if logged_in? %>
