<h1><%= @ticket.name %></h1>
<p><%= @ticket.body %></p>

<p>
  <strong>Tags:</strong>
  <%= show_tags @ticket %>
</p>

<p>
  <strong>Status:</strong>
  <%= show_status @ticket %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @ticket.creator.name %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= show_assignee @ticket %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ticket.project.name %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<% end %>

<%= link_to 'Back', tickets_path %>

<h2>Comments</h2>
<% if @ticket.comments.size.zero? %>
  <p>There are no comments.</p>
<% else %>
  <%= render @ticket.comments %>
<% end %>

<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>
