<h1><%= @ticket.name %></h1>
<p><%= @ticket.body %></p>

<p>
  <strong>Tags:</strong>
  <%= list_tags(@ticket) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ticket.project.name %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<% end %>

<%= link_to 'Back', tickets_path %>
