<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Open Tickets</th>
      <th>Total Tickets</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <strong><%= link_to project.name, project %></strong>
          <br>
          <%= project.description %>
        </td>
        <td align="center"><%= project.open_ticket_count %></td>
        <td align="center"><%= project.ticket_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
