<h1>Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <% if logged_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td align="center"><%= tag.ticket_count %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
          <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Tag', new_tag_path) if logged_in? %>
