<!DOCTYPE html>
<html>
  <head>
    <title>Ticketing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <% if flash[:danger] %>
      <p class="danger"><%= flash[:danger] %></p>
    <% end %>
    <% if flash[:success] %>
      <p class="success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
